In [1]:
import numpy
import pandas as pd

In [2]:
import pyodbc

In [3]:
conn = pyodbc.connect(
    "Driver={SQL Server Native Client 11.0};"
    "Server=MGR2-BTH108W\SQLSERVER;"
    "Database=irissql;"
    "Trusted_Connection=yes;"
)

In [4]:
requête = """SELECT [Sépales.Longueur], EspècesId
           FROM dbo.iris_données;"""
T = pd.read_sql(requête, conn)

In [5]:
T.head()

   Sépales.Longueur  EspècesId
0               5.1          0
1               4.9          0
2               4.7          0
3               4.6          0
4               5.0          0

NameError: name 'T' is not defined