In [1]:
import pandas as pd
import numpy as np

In [2]:
données = ['Valérie', 'Omar', 'MAHA', 'hAPSA']
[s.capitalize() for s in données]

['Valérie', 'Omar', 'Maha', 'Hapsa']

In [3]:
données = ['Valérie', 'Omar', 'MAHA', 'hAPSA', None]

In [4]:
prénoms = pd.Series(données)
prénoms

0    Valérie
1       Omar
2       MAHA
3      hAPSA
4       None
dtype: object

In [5]:
prénoms.str.capitalize()

0    Valérie
1       Omar
2       Maha
3      Hapsa
4       None
dtype: object

In [6]:
prénoms.str.lower()

0    valérie
1       omar
2       maha
3      hapsa
4       None
dtype: object

In [7]:
prénoms.str.upper()

0    VALÉRIE
1       OMAR
2       MAHA
3      HAPSA
4       None
dtype: object

In [8]:
prénoms.str.len()

0    7.0
1    4.0
2    4.0
3    5.0
4    NaN
dtype: float64

In [9]:
prénoms[5]= "Olivier"
prénoms

0    Valérie
1       Omar
2       MAHA
3      hAPSA
4       None
5    Olivier
dtype: object

In [10]:
prénoms.str.startswith('O')

0    False
1     True
2    False
3    False
4     None
5     True
dtype: object

In [11]:
for p in prénoms:
    if p!=  None and p.startswith('O') == True:print(p)

Omar
Olivier

In [15]:
prénoms=  pd.Series(['Omar So', 'Maha To', 'Hapsa Di'])
prénoms

0     Omar So
1     Maha To
2    Hapsa Di
dtype: object

In [16]:
prénoms.str.split()

0     [Omar, So]
1     [Maha, To]
2    [Hapsa, Di]
dtype: object

In [18]:
prénoms.str.extract('([A-Za-z]+)')#extrait que le nom de la series

       0
0   Omar
1   Maha
2  Hapsa